* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}

.name-tag {
  box-shadow: 5px 10px #888888;
  width: 390px;
  height: 280px;
  background-color: rgb(241, 80, 80);
  text-align: center;
  color: white;
  border-radius: 20px;
}

.hello {
  font-size: 4em;
  font-family: Arial, Helvetica, sans-serif;

}

.my-name-is {
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

section {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: fantasy;
  height: 130px;
  font-size: 2em;
  text-transform: uppercase;
}

button {
  margin-top: 10px;
}

input {
  margin-top: 20px;
}

.container {
  padding: 1em;
}



